.callout-block {
  background-color: #09130B;
  padding-top: 72px;
  padding-bottom: 56px;
  position: relative;
  z-index: 2;
  opacity: 1 !important;
  .on-title {
    color: #FEFEFE;
    font-family: $primary-fonts;
    font-weight: 700;
    font-size: 23px;
    line-height: 22px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }
  .title {
    color: $color-1;
    font-family: $primary-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    margin: 32px auto 48px;
    img.text-draw {
      position: absolute;
      width: 35px;
      height: auto;
      left: -40px;
      top: -15px;
    }
    img.text-arrow {
      position: absolute;
      width: 85px;
      height: auto;
      right: 0;
      bottom: -100%;
    }
    img.text-hashtag {
      position: absolute;
      width: 200px;
      height: auto;
      right: -150px;
      top: -150%;
    }
    span {
      text-transform: none;
      font-size: 28px;
    }
  }
  .logos {
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    margin: 0 auto;
    svg {
      height: 32px;
      width: 32px;
    }
    img {
      height: 48px;
      width: auto;
      &.logo-tiktok {
        height: 47px;
      }
    }
  }
  .rock {
    position: absolute;
    width: auto;
    &.rock-1 {
      top: -75px;
      left: -85px;
      height: 240px;
    }
    &.rock-2 {
      bottom: 24px;
      left: 8%;
      height: 120px;
    }
    &.rock-3 {
      bottom: -78px;
      right: -114px;
      height: 260px;
    }
    &.rock-4 {
      top: 96px;
      right: 18%;
      height: 72px;
    }
  }
}
