header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 133px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  .logos {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 50%;
      width: 4px;
      background-color: #096259;
    }
  }
  img {
    height: 62px;
    width: auto;
    &:first-of-type {
      margin-right: 40px;
    }
    &:last-of-type {
      margin-left: 40px;
    }
  }
}
