header {
  width: calc(100% - 64px);
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #fff;
  border-bottom: solid #15CD8B 3px;
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 1300px;
    margin: 0 auto;
  }
  .logos {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 50%;
      width: 4px;
      background-color: #096259;
    }
  }
  img {
    height: 50px;
    width: auto;
    &:first-of-type {
      margin-right: 40px;
    }
    &:last-of-type {
      margin-left: 40px;
    }
  }
}
