.labels-block {
  padding-top: 64px;
  padding-bottom: 96px;
  > .title {
    img {
      height: 75px;
      width: auto;
      position: absolute;
      left: 55%;
      top: calc(50% - 37.5px);
    }
  }
  .content {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap: 40px;
    img {
      height: 120px;
      width: auto;
    }
  }
}
