@import "header";
@import "vars";
@import "top-block";
@import "banner-quote";
@import "alternation-block";
@import "slider-block";
@import "labels-block";

body.website {
  background-color: #F5F4F0;
  margin: 0;
  overflow: hidden;
}
.btn.default {
  padding: 15px 17px;
  border-radius: 50px;
  background-color: green;
  font-family: $secondary-fonts;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
}
.block {
  > .title {
    position: relative;
    h2 {
      position: relative;
      max-width: 900px;
      margin: 0 auto;
      font-family: $primary-fonts;
      font-weight: 700;
      font-size: 32px;
      line-height: 77px;
      text-align: center;
      color: #09130B;
      margin-bottom: 32px;
    }
  }
}
