.indication
{
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}
.indication {
  width: 77px;
  height: auto;
}
.indication .content {
  width: 77px;
  height: auto;
  transform: scale(0, 0);
  transition: transform 0.3s;
}
.indication.visible .content,
.indication:not(.destroyed) .content{
  transform: scale(1, 1);
  transition: transform 0.3s;
}
.indication.translated.visible .content,
.indication.translated:not(.destroyed) .content{
  transform: scale(1, 1) translate(-50%, -50%);
  transition: transform 0.3s;
}
.indication.destroyed {
  display: none;
}
.indication img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}

@import "tap-indication";
@import "drag-indication";
@import "shake-inidication";
