.indication
{
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}
.indication {
  width: 77px;
  height: auto;
  .content.tappable {
    position: relative;
    width: 77px;
    height: 77px;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: inherit;
      height: inherit;
      opacity: 0;
      border-radius: 50%;
      border: 2px solid gray;
    }

    &::before {
      animation: pulse 2s cubic-bezier(.8,.2,.1,.5) infinite;
    }

    &::after {
      animation: pulse 2s cubic-bezier(.8,.4,.1,.5) 0.3s infinite;
    }
  }
}
.indication .content {
  width: 77px;
  height: auto;
  transform: scale(0, 0);
  transition: transform 0.3s;
}
.indication.visible .content{
  transform: scale(1, 1);
  transition: transform 0.3s;
}
.indication.destroyed {
  display: none;
}
.indication img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }

  30% {
    opacity: 1;
  }

  60%, 100% {
    opacity: 0;
    transform: scale(1);
  }
}