.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
  .value-loaded {
    font-family: $primary-fonts;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: $color-1;
    z-index: 1;
    width: fit-content;
    margin: 0 auto;
  }
}
