.mascot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  border-top: solid 6px #15CD8B;
  background-image: url('./assets/textures/gridModal.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  transform: translateY(100%);
  transition: all 1s ease-in;
  img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: auto;
    transform: translateX(calc(100% + 50px)) translateY(50px);
    transition: all 1s ease-in;
  }
  .quote {
    font-family: $secondary-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    color: #028153;
    max-width: 50%;
    margin: 0 auto;
  }
  &.visible {
    transform: translateY(0);
    transition: all 1s ease-in;
    img {
      transform: translateX(50px) translateY(50px);
      transition: all 1s ease-in;
    }
  }
  &.alternative-version {
    bottom: 10vh;
    top: 10vh;
    right: 15vw;
    left: 15vw;
    opacity: 0;
    transform: none;
    width: calc(100% - 30vw);
    height: calc(100% - 30vh);
    pointer-events: none;
    &.visible {
      transform: none;
      opacity: 1;
      pointer-events: auto;
    }
    .quote {
      font-size: 22px;
      line-height: 26px;
      color: #09130B;
      max-width: 80%;
      text-align: center;
    }
  }
}
